AI_API_KEY_1=
AI_BASE_URL=https://integrate.api.nvidia.com/v1
AI_MODEL=deepseek-ai/deepseek-v3
DATABASE_URL=
SLOTS_TOTAL=100
SLOTS_PER_PERSON=5
PRICE_FULL=400
PRICE_HALF=200
PRIZE_1ST=5000
PRIZE_2ND=1000
PRIZE_3RD=400
WINNERS_COUNT=3
WARNING_MINUTES=2
LOW_SLOTS_THRESHOLD=7
CBE_ACCOUNT=
CBE_NAME=
AWASH_ACCOUNT=
DASHEN_ACCOUNT=
TELE_BIRR=
